body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

div {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4c82af;
    box-shadow: 0 0 8px rgba(76, 130, 175, 0.5);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4c82af;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3a6179;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    div {
        width: 100%;
        max-width: none;
    }
}
