.table-recetas {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
    margin: auto;
}

/* Estilos para las celdas de encabezado */
.table-recetas th {
    background-color: #323130;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    color: white;
}

/* Estilos para las celdas de datos */
.table-recetas td {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: white;
    

}

/* Estilos para las filas impares */
.table-recetas tr:nth-child(odd) {
    background-color: #f9f9f9;
   
}
