body {
  background: linear-gradient(to top left, #1db1e7, #0be38da6, #df90e6, #55e29b);
  /* background-size: cover; */
  height: 200vh;
  font-family: sans-serif;
}

.contenido {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

#tabla_usuarios {
  transition: 0.9s;
  animation: fadeIn 0.5s;
}

#tabla_usuarios table {
  width: 800px;
  border-collapse: collapse;
  /* backdrop-filter: blur(5px); */
  background-color: rgba(247, 243, 243, 0.489);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  /* margin-top: 3rem; */
  overflow: hidden;
}

#tabla_usuarios th,
#tabla_usuarios td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: left;
}

#tabla_usuarios th {
  background-color: #3498db;
  color: white;
}

#tabla_usuarios td {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Estilos generales para los botones */
button {
  padding: 8px 12px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/* Estilos para el botón "Editar" */
button[data-action="editar"] {
  background-color: #28a745; /* Color verde */
  color: #fff; /* Texto blanco */
}

/* Estilos para el botón "Eliminar" */
button[data-action="eliminar"] {
  background-color: #dc3545; /* Color rojo */
  color: #fff; /* Texto blanco */
}

.datos p {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #efe8e883;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.button {
  padding: 13px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #2db7f7c5;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #0cacf7;
  color: white;
  transition: 0.5s;
  transform: scale(1.08);
}

.buscar {
  height: 100%;
  /* background: #28a745; */
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin-right: 5px;
  color: white;
  text-align: center;
}

#dato {
  /* padding: 5px; */
  margin-right: 5px;
  margin-top: 12px;
}

.registro-container {
  background-color: #ffffff80;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  animation: fadeIn 1s;
}

.registro-container h2 {
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

select:focus {
  border-color: #007bff;
}

.registro-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.registro-button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
