@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

*{
    font-family: 'Montserrat';
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #75e59b, #003350);
}
header {
    background-color: rgb(21, 84, 139);
    background: linear-gradient(to right, #2bd664, #013e69);
    color: #020202;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
  }
  .logo a {
    text-decoration: none;
    color: #b6eccf;
    font-size: 34px;
    font-weight: bold;
  }
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
.titulo{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.tabla{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btnAgregar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btnAgregar button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    color: #003350;
    font-weight: medium;
    font-size: larger;
    background-color: #75e59b;
}