@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

body {
  margin: 0;
  padding: 1px;
  height: 100vh;
  background-color: aliceblue;
  background: linear-gradient(to right, #75e59b, #003350);
  backdrop-filter: blur(100px);
}

header {
  background-color: rgb(21, 84, 139);
  background: linear-gradient(to right, #2bd664, #013e69);
  color: #020202;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat";
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}
.logo a {
  text-decoration: none;
  color: #b6eccf;
  font-size: 34px;
  font-weight: bold;
}
.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.contenedorFlex {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.titulo-pagina{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
  }
  
  .titulo-pagina2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #111111;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
  }

.contenedor-agr{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}


.input-container {
  width: 20%;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-container input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
}

.input-container input::placeholder {
  color: #999;
}

.input-container input:focus {
  border-color: #3498db;
}

table {
  border-collapse: collapse;
  width: 120%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border: 2px solid #333;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:hover {
  background-color: #ddd;
}

th,
td {
  border: 1px solid #ccc;
}

th {
  background-color: #333;
  color: #fff;
}

tr:last-child td {
  border-bottom: 2px solid #333;
}

tr:last-child th {
  border-bottom: 2px solid #333;
}

.custom-button {
  padding: 10px 20px;
  background-color: rgb(21, 84, 139);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.custom-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(21, 84, 139);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  transition: box-shadow 0.3s, transform 0.3s;
  
}

.link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}


